@model Blog.Models.Category

@{
    ViewBag.Title = "Edit";
}

<div class="container">

    <div class="well">

        <h2>Edit Category</h2>
        <div class="form-horizontal">
        @using (Html.BeginForm("Edit", "Category", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <div class="form-group">
                @Html.LabelFor(m => m.Name, new { @class = "control-label col-sm-4" })
                <div class="col-sm-4">
                    @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                <span class="control-label col-sm-4"><strong>Current Logo</strong></span>
                <div class="col-sm-4">
                    <img src="~/File?id=@Model.Files.First(f => f.FileType == FileType.Avatar).FileId" alt="avatar" width="200" />
                </div>
            </div>
            

            <div class="form-group">
                <div class="col-sm-4 col-sm-offset-4">
                    @Html.ActionLink("Cancel", "List", "Category", new { @class = "btn btn-default" })
                    <input type="submit" value="Edit" class="btn btn-success" />
                </div>
            </div>
            
        }
        </div>
    </div>
</div>
